
.newrel {
background: url('img/newb.png') no-repeat scroll 111% -12px;
z-index:100;
}

#downloadrel {
  background-color:#C7E0F5;
  border:1px solid #79B6E7;
  color:#1C629C;
  font-size:0.9em;
  position:relative;
}

#downloadrel p {
  margin:0;
  padding: 1px 0 0px 5px;
}

#downloadrel .stable_release {
  border-top: 1px solid #7EB8E6;
  border-bottom: 1px solid #7EB8E6;
  display:block;
  font-weight:bold;
  font-size:1.1em;
  padding-left: 32px;
  background: #D0E5F6 url('img/arrow.png') no-repeat scroll 5px 49%;
}

#downloadrel .old_stable_release {
  border-bottom: 1px solid #C7E0F5;
  background: #FFFFFF url('img/arrow_bn.png') no-repeat scroll 7px 49%;
  padding-left: 32px;
  display:block;
  font-size:1.1em;
}

#downloadrel .dev_release {
  background: #FFFFFF url('img/arrow_bn.png') no-repeat scroll 7px 49%;
  padding-left: 32px;
  display:block;
  font-size:1.1em;
}

#downloadrel p.download {
  font-size: 1.4em;
}

.block-release_core p.date, .block-release_core p.rel_note { font-size: 0.8em; }